<html>

  <body>
    <h1>Mazes</h1>
    <ul>
      {{ range $index, $maze := .Mazes }}
        <li>
          <a href="#">Level {{ $index }}</a>
        </li>
      {{ end }}
    </ul>
  </body>
</html>
