<head>
  <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
  <link rel="stylesheet" href="/static/styles.css" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <script src="https://kit.fontawesome.com/b5e9807ac0.js" crossorigin="anonymous"></script>

  <script type="text/hyperscript" src="/static/behaviors._hs"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>

  <title>Hypermaze</title>
</head>
