<div
  hx-get="/mazes/{{ .Level }}/room/{{ .Room.Location.X }}/{{ .Room.Location.Y }}/minimap"
  hx-trigger="changedRoom from:body"
  hx-swap="outerHTML"
>
  {{ template "maze-ascii-view.html.gotmpl" . }}
</div>
