<div
  _="
    on changedRoom(x, y) from body
    call htmx.ajax(
      'GET', 
      `/mazes/{{ .Level }}/room/${x}/${y}/minimap`, 
      { target: me, swap: 'outerHTML'}
    )
  "
>
  {{ template "maze-ascii-view.html.gotmpl" . }}
</div>
