<!DOCTYPE html>
<html lang="en">
  {{ template "head.html.gotmpl" . }}
  <body>
    <main>
      <h1>Mazes</h1>
      {{ template "maze-list.html.gotmpl" . }}
    </main>
    <aside></aside>
  </body>
</html>
