<!DOCTYPE html>
<html lang="en">
  {{ template "head.html.gotmpl" . }}
  <body hx-boost="true">
    <main>
      {{ template "maze-partial.html.gotmpl" . }}
    </main>
    <aside></aside>
  </body>
</html>
