<!DOCTYPE html>
<html lang="en">
  {{ template "head.html.gotmpl" . }}
  <body hx-boost="true">
    <main>
      <h1>Level {{ .Level }}</h1>
      {{ template "maze-ascii-view.html.gotmpl" . }}
      <dl>
        <dt>Size</dt> <dd>{{ .Maze.Grid.Width }}x{{ .Maze.Grid.Height }}</dd>
        <dt>Entrance</dt> <dd>{{ template "coordinates.gotmpl" .Maze.Entrance.Location}} {{ .Maze.Entrance.Direction | directionToString }}</dd>
        <dt>Exit</dt> <dd>{{ template "coordinates.gotmpl" .Maze.Exit.Location}} {{ .Maze.Exit.Direction | directionToString }}</dd>
      </dl>
      <button 
        hx-get="/mazes/{{ .Level }}/room/{{ .Maze.Entrance.Location.X}}/{{ .Maze.Entrance.Location.Y }}"
        hx-push-url="true"
        hx-target="main"
        type="button"
      >
        Enter
      </button>
    </main>
  </body>
</html>
