<!DOCTYPE html>
<html lang="en">
  {{ template "head.html.gotmpl" . }}
  <body hx-boost="true">
    <main
      _="
        init set $x to {{ .Room.Location.X }} then set $y to {{ .Room.Location.Y }}
        on changedRoom(x, y) set $x to x then set $y to y
      "
    >
      <h1>Level {{ .Level }}</h1>
      {{ template "room.html.gotmpl" . }}

      <div id="minimap"
        class="hidden"
        _="
          on changedRoom(x, y) from <main/>
          if I do not match .hidden
          then
            fetch `/mazes/{{ .Level }}/room/${x}/${y}/minimap` then put it into #minimap
          end
        "
      >
      </div>

      <button type="button"
        _="
          on click toggle .hidden on #minimap then
          if #minimap matches .hidden
          then
            set my.innerText to 'Open minimap'
          else
            set my.innerText to 'Close minimap'
            fetch `/mazes/{{ .Level }}/room/${$x}/${$y}/minimap` then put it into #minimap
          end
        "
      >
        Open minimap
      </button>

      <a 
        href="/" 
        hx-confirm="Are you sure you want to quit this maze?"
        >
        Give up
      </a>
    </main>
  </body>
</html>
