<!DOCTYPE html>
<html lang="en">
  {{ template "head.html.gotmpl" . }}
  <body hx-boost="true">
    <main>
      <h1>Level {{ .Level }}</h1>
      <div id="room-view">
        <p>You're at <span>{{ template "coordinates.gotmpl" .Room.Location }}</span><p>
        <ul class="move-controls">
        {{ range $direction, $room := .Room.Connections }}
          <li class="{{ $direction | directionToString | toLower }}">
            <a 
              hx-get="/mazes/{{ $.Level }}/room/{{ $room.Location.X }}/{{ $room.Location.Y }}"
              hx-target="#room-view"
              hx-select="#room-view"
              hx-push-url="true"
              _="
                on click send changedRoom(x: {{ $room.Location.X }}, y: {{ $room.Location.Y }} ) to <main/>
                on keyup[key == '{{ directionToKey $direction}}'] from body log '{{ directionToString $direction}}'
              "
            >
            Go {{ directionToString $direction }}</a>
          </li>
        {{ end }}
        </ul>
      </div>

      <div id="minimap"
        _="
          on changedRoom(x, y) from <main/> call htmx.ajax(
            'GET',
            `/mazes/{{ .Level }}/room/${x}/${y}/minimap`,
            { swap: 'innerHTML', target: me }
          )
        "
        class="hidden"
        hx-get="/mazes/{{ .Level }}/room/{{ .Room.Location.X }}/{{ .Room.Location.Y }}/minimap"
        hx-trigger="load"
      >
      </div>
      <p>TODO: Currently, we always load the minimap on every room change but that's wasteful, try to only load it if it's showing</p>

      <button type="button"
        _="
          on click toggle .hidden on #minimap then
          if #minimap matches .hidden
          then
            set my.innerText to 'Open minimap'
          else
            set my.innerText to 'Close minimap'
          end
        "
      >
        Open minimap
      </button>

      <a 
        href="/" 
        hx-confirm="Are you sure you want to quit this maze?"
        >
        Give up
      </a>
    </main>
  </body>
</html>
