<ul>
  {{ range $index, $maze := .Mazes }}
    <li>
      <a href="#" 
        hx-get="/mazes/{{$index}}/minimap" 
        hx-trigger="mouseenter"
        hx-swap="afterend"
      >Level {{ $index }}</a>
    </li>
  {{ end }}
</ul>
