main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

pre {
  font-family: monospace;
  line-height: 1;
  scrollbar-width: none;
}

.relative {
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: white;
  z-index: 10;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.move-controls {
  display: grid;
  grid-template:
    "north north"
    "west east"
    "south south"
    ;
  width: 100%;
  min-height: 75px;
}

.north {
  grid-area: north;
  text-align: center;
}

.west {
  grid-area: west;
  text-align: left;
}

.east {
  grid-area: east;
  text-align: right;
}

.south {
  grid-area: south;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0 !important;
}

#room {
  min-width: 250px;
}

#minimap {
  min-width: 250px;
}

#minimap pre {
  margin: 0;
}

.hidden {
  display: none;
}
